/* General */
$fontSize:14px;
$bodyBgColor:#edf0f5;
$textColor:#333333;
$textSecondaryColor:#707070;
$borderRadius:3px;
$dividerColor:#e3e3e3;
$transitionDuration:.2s;
$maskBgColor:#424242;

/* Menu Common */
$menuitemBadgeBgColor:#929292;
$menuitemBadgeColor:#ffffff;
$submenuFontSize:13px;
$menuitemActiveRouteColor:#afafaf;

/* Menu Light */
$menuBgColorFirst:#f8f2bb;
$menuBgColorLast:#f0ee6f;
$menuitemColor:#232428;
$menuitemHoverColor:#807d7d;
$menuitemActiveColor:#000000;
$menuitemActiveBgColor:#ffffff;
$menuitemBorderColor:rgba(224, 224, 207, 0.6);

/* Menu Dark */
$menuDarkBgColorFirst:#4d505b;
$menuDarkBgColorLast:#3b3e47;
$menuitemDarkColor:#ffffff;
$menuitemDarkHoverColor:#7d7d7e;
$menuitemDarkActiveColor:#e0e0e0;
$menuitemDarkActiveBgColor:#2e3035;
$menuitemDarkBorderColor:rgba(52, 56, 65, 0.6);

/* Topbar */
$topbarLeftBgColor:rgba(253, 255, 111, 0.726);
$topbarRightBgColor:rgba(236, 234, 79, 0.925);
$topbarItemBadgeBgColor:#ef6262;
$topbarItemBadgeColor:#ffffff;
$topbarItemColor:#ffffff;
$topbarItemHoverColor:#b8b8b8;
$topbarSearchInputBorderBottomColor:#ffffff;
$topbarSearchInputColor:#ffffff;

/* Footer */
$footerBgColor:#ffffff;